html {
	background: #fdf8ab;
}

body {
	width: 700px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 44px 5px rgba(0,0,0,0.75);
}

img {
	padding-bottom: 20px;
	width: 700px;
}

h1, h2, h3 {
	color: #bd8100;
	border-top: 2px solid #86a100;
	padding: 20px 0px 0px 120px;
}

p {
	padding: 0px 0px 0px 120px;
	color: #50606b;
	font-size: 14px;
}

p:nth-of-type(1){
	color: #ff6600;
	font-size: 18px;
}

p:nth-of-type(3){
	border: 1px dashed #bd8110;
	background: #fbf8a9;
	color: #333350;
	padding: 15px 20px 15px 15px;
	margin: 0px 0px 0px 120px;
}

p:nth-of-type(5){
	border: 1px dashed #bd8110;
	background: #fbf8a9;
	color: #333350;
	padding: 15px 20px 15px 15px;
	margin: 0px 0px 0px 120px;
}

.atention-paragraph strong{
	color: #fc6512;
}